.button {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 4rem;
    padding: 1.5rem 2rem;
    background: $color-grey-dark-2;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: $color-white;
} 