.menu__content {
    display: none;
    position: absolute;
    top: 100%;
    border: $line-light-2;       
    color: inherit;
    background: $color-white;
    z-index: 999; 


    .menu__item {
        display: block;
        padding: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        font-family: inherit;    
        color: inherit;
        
        &:not(:last-child) {
            border-bottom: $line-light-2;
        }
        
        &:hover {
            background: $color-primary-light;
            color: $color-white;
        }
    }
           
}