.menu {
    position: relative;
    display: inline-block;
    vertical-align: top;    

    &:hover .menu__content {
        display: block;
    }      

    &__button {  
        width: auto;

        /* Vertical ellipsis. */
        &::before {
            content: "\2807";
            display: inline-block;
            color: $color-white;
            font-size: 3rem;   
            padding: 0;
            margin: 0;
            padding-left: 5px;
            @include absoluteCenter;         
        }
    }

    &__content {
        display: none;
        position: absolute;
        border: $line-light-2;       
        color: inherit;
        background: $color-white;
        z-index: 999; 


        .menu__item {
            display: block;
            padding: 1rem;
            font-size: 1.5rem;
            text-decoration: none;
            font-family: inherit;    
            color: inherit;
            
            &:not(:last-child) {
                border-bottom: $line-light-2;
            }
            
            &:hover {
                background: $color-primary-light;
                color: $color-white;
            }
        }
    }
}