.stack-dropdown {
    display: inline-block;
    position: relative;
    height: 4rem;
    
    &:hover > .menu__content {
        display: block;
    }

    & .menu__content {
        /* See _menu.scss. */
    }
}