////////////////////////////////////////////////
// SWITCH
.switch {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 4rem;
    cursor: pointer;
    user-select: none;

    &__background {
        display: block;
        height: 100%;
        box-shadow: $shadow-inset-dark-small;
        transition: background .4s;
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      &__slider {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 10px;
        background: $color-grey-dark-3;
        transition: left .2s;
      }

      & .switch__checkbox:checked ~ .switch__slider {
        left: calc(100% - 10px);
      }

      &__label {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .2s;
        color: $color-white;;
      }

      & .switch__checkbox:checked ~ .switch__label-on {
        opacity: 1;
      }

      & .switch__checkbox:checked ~ .switch__background {
          background: $color-green;
      }
      
      & .switch__checkbox:not(:checked) ~ .switch__label-off {
        opacity: 1;
      }

      & .switch__checkbox:not(:checked) ~ .switch__background {
        background: $color-red;
      }

      &__label {
        &-on {
            margin-left: 2rem;
        }

        &-off {
            left: initial;
            right: 0;
            margin-right: 2rem;
        }
      }

      &__label > i {
        display: block;
      }
  }
